.first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: stretch;
  color: white;
}

.first-row > * {
  flex-basis: 20rem;
  flex-shrink: 0;
}

.first-row .card {
  display: flex;
  flex-direction: column;
}

.first-row .card > .card-content {
  flex-grow: 1;
}

.first-row .card > .card-image {
  flex-basis: 25rem;
  flex-shrink: 0;
  overflow-y: hidden;
  background-color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url(anime.jpg);
}
